@font-face {
    font-family: 'Gilroy';
    src: url('/usr/local/share/fonts/g/Gilroy_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#main{
    height: 100vh;
    width: 100%;
}
#back{
    height: 100vh;
    width: 100%;
    background-color: black !important;
}
#back img {
    width: 100%;
    height: 100%;
}
#top{
    pointer-events: none !important;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: transparent;
}
#working-area{
    position: relative;
    width: 80%;
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
}
#nav{
    width: 100%;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-left, #nav-right {
    display: flex;
    align-items: center;
    gap: 60px;
}
#nav a{
    pointer-events: all;
    text-decoration: none;
    color: white;
    font-family: 'Gilroy', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}
#nav-left img {
    height: 60px;
}
#hero{
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: 30px;
    transform: translate(0%, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#hero-left {
    min-width: 50%;
}
#hero-left .elem{
    position: relative;
    overflow: hidden;
    height: 9vw;
}
#hero-left .elem h1:nth-child(1){
    top: 0;
}
#hero-left button {
    pointer-events: all;
    padding: .8vw 3vw;
    font-size: 3vw;
    margin-top: .5vw;
    font-family: 'Kajiro';
}
#hero-left .elem h1{
    position: absolute;
    top: 100%;
    left: 0;
    line-height: 0.85;
    font-family: 'Kajiro';
    color: white;
    font-weight: 100;
    font-size: 11vw;
}
#hero-right {
    width: 17%;
    color: white;
    font-family: 'Gilroy';
    text-transform: uppercase;
}
#hero-right p{
    font-size: 14px;
    text-align: right;
    font-weight: 600;
}
#hero-right #image-div {
    width: 100%;
    height: 170px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-image: url(https://images.unsplash.com/photo-1697418797721-15b8ce03aae2?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#hero-right p:nth-child(3){
    margin-bottom: 100px;
}